
.red{
    color:red;
    }
.form-area
{
	color:green;
    background-color: #000000;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 5px solid green;
	}

	.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	background: yellow;
    outline: 0 none;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: yellow;
    color: #000;
}
 
.btn-primary {
    background: green;
    color: #000;
}
 

